.header-bar {
    width: 100%;
    height: 100px;
    background-color: #3a3a3a; /* Серый цвет */
    position: relative;
    margin-bottom: 20px;
}

.circle-end {
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: #141414; /* Более тёмный серый */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f0f0;
}