{% extends "base.html" %}
{% block content %}
<!-- ШАПКА -->
<div class="header-bar">
    <img src="{{url_for('static', filename='images/main_icon.png')}}" class="main-icon">
    <div class="circle-end"></div>
    <div class="circle-end2"></div>
    <img src="{{url_for('static', filename='images/diamond_sword.png')}}" class="header-icon">
    <div class="mirror">
      <img src="{{url_for('static', filename='images/diamond_sword.png')}}" class="header-icon2">
    </div>
</div>

<!-- ОСНОВНАЯ ЧАСТЬ -->
<main class="main-content">
    <h1>Калькулятор крафта</h1>
    <form method="POST" class="craft-form">
        <div class="form-row">
            <label for="item">Название предмета:</label>
            <input type="text" id="item" name="item" required>
        </div>

        <div class="form-row">
            <label for="value">Количество:</label>
            <input type="number" id="value" name="value" required>
        </div>

        <div class="submit-button-wrapper">
          <button type="submit" class="btn btn-primary" id="calculate-btn">Посчитать</button>
          <img 
            src="{{ url_for('static', filename='images/Ender_Pearl_JE3_BE2.png') }}" 
            class="submit-icon" 
            id="pearl-icon"
            alt="Ender Pearl"
            data-hover="{{ url_for('static', filename='images/Eye_of_Ender_JE2_BE2.png') }}"
            data-default="{{ url_for('static', filename='images/Ender_Pearl_JE3_BE2.png') }}"
          >
        </div>
    </form>

    {% if result_input %}
    <div class="result-box">
        <h2>Наилучший способ получения:</h2>
        {{ result_input | safe }}
        <form method="GET" style="margin-top: 16px;">
          <div class="submit-button-wrapper">
            <button type="submit" class="btn btn-secondary" id="clear-btn">Сбросить</button>
            <img 
            src="{{ url_for('static', filename='images/furn_non_fire.jpg') }}" 
            class="submit-icon" 
            id="furn-icon"
            alt="fire-furn"
            data-hover="{{ url_for('static', filename='images/furn_fire.jpg') }}"
            data-default="{{ url_for('static', filename='images/furn_non_fire.jpg') }}"
          >
          </div>
        </form>
    </div>
    {% endif %}
</main>
{% endblock %}